---
import { Image } from "astro:assets";
interface Props {
    row: any
}
const {row} = Astro.props as Props
---

<div class="sm:w-32 lg:w-48 h-56  bg-zinc-800 hover:bg-gray-600 rounded-lg border-2 border-indigo-500 hover:shadow-2xl hover:shadow-indigo-500/40 hover:cursor-pointer hover:transition-colors hover:-translate-y-1 hover:scale-110 duration-300">
  <a href=`/country/${row.cca2}` >
    <div class="pt-2">
        <div class="flex justify-center items-center h-36">
            <Image src={row.flags?.png} title={row.name?.common ?? ''} alt={row.name?.common ?? ''} width={120} height={120} />
        </div>

   </div>
   {row.name?.common && (<div class="w-full text-center bg-slate-800 h-12 mt-4 bottom-0 text-md">
    <span>{row.name?.common}</span>
   </div>)}
   </a>


</div>